
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="80"
    alt="Angular Logo"
    src="/assets/Logo.svg"
  />
</div>
<app-loading-indicator [showMe]="isLoadingData"></app-loading-indicator>

<div class="content" role="main">
  <div class="table-header mt-3">
    <div class="row mt-2">
      <div class="col-md-4">
        <label>Data Provider</label>
        <select [(ngModel)]="filters.provider" (change)="emitFilters()" id="source" class="form-control" placeholder="select provider">
          <option value="" disabled selected>Select Provider</option>
          <option *ngFor="let value of dataProviders" value="{{value.name}}">{{value.name}}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label>Status</label>
        <select [(ngModel)]="filters.statusCode" (change)="emitFilters()" id="status" class="form-control" placeholder="select provider">
          <option value="" disabled selected>Select Status</option>
          <option *ngFor="let value of statuses" value="{{value.name}}">{{value.name}}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label>Currency</label>
        <select [(ngModel)]="filters.currency" (change)="emitFilters()" id="currency" class="form-control" placeholder="select provider">
          <option value="" disabled selected>Select Currency</option>
          <option *ngFor="let value of currencies" value="{{value.name}}">{{value.name}}</option>
        </select>
      </div>
      <div class="col-md-3 mt-2">
      </div>
      <div class="col-md-3 mt-2">
        <label>Min Balance</label>
        <input type="number" class="form-control search-input" [(ngModel)]="filters.balanceMin" (keyup.enter)="emitFilters()" placeholder="Enter Min Balance">
      </div>

      <div class="col-md-3 mt-2">
        <label>Max Balance</label>
        <input type="number" class="form-control search-input" [(ngModel)]="filters.balanceMax" (keyup.enter)="emitFilters()" placeholder="Enter Max Balance">
      </div>
    </div>

  </div>


  <!-- Links -->
  <div class="card-container">
    <div class="row align-items-center">
      <table class="table table-hover border table-responsive">
        <thead class="header-titles text-muted text-nowrap c-b">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Amount</th>
          <th scope="col">Currency</th>
          <th scope="col">Email</th>
          <th scope="col">Status</th>
          <th scope="col">Registration Date</th>
        </tr>
        </thead>
        <tbody *ngIf="!isLoadingData">
        <tr class="text-nowrap"
            *ngFor="let item of parents">
          <td>{{item.id}}</td>
          <td>{{item.balance}}</td>
          <td>{{item.currency}}</td>
          <td>{{item.email}}</td>
          <td>{{item.status}}</td>
          <td>{{item.created_at}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h5 *ngIf="isLoadingData"> Loading.......</h5>

  <!-- Footer -->
  <footer>
    <button *ngIf="!isLoadingData && parents.length > 0" [disabled]="fetchingData" (click)="loadMoreParents()" style="background-color: #9ea0a5;font-size: 14px!important;height: 41px!important;width: 181px!important; padding: 1px" class="btn btn-create mr-4" >
      <i class="fa fa-plus mr-2"></i> {{fetchingData === true ? 'Fetching..' : 'Load More..'}}
    </button>
    <h5 *ngIf="parents.length === 0 && !isLoadingData">No more data exist!</h5>
  </footer>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
